In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\saiba\Downloads\customer_shopping_behavior.csv")

In [3]:
df.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [5]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [6]:
lables=['young_adult','adult','Middle_aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=lables)

In [7]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly':30,
    'Quarterly' : 90,
    'Bi-Weekly' : 15,
    'Annually' : 365,
    'Every 3 Months': 90
}	
    
df['purchases_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [8]:
df[['purchases_frequency_days','frequency_of_purchases']].head()

   purchases_frequency_days frequency_of_purchases
0                        14            Fortnightly
1                        14            Fortnightly
2                         7                 Weekly
3                         7                 Weekly
4                       365               Annually

In [9]:
df[['promo_code_used','discount_applied']].head()

  promo_code_used discount_applied
0             Yes              Yes
1             Yes              Yes
2             Yes              Yes
3             Yes              Yes
4             Yes              Yes

In [10]:
(df['promo_code_used'] == df['discount_applied']).all()

True

In [11]:
df =df.drop('promo_code_used',axis=1)

In [12]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\saiba\.anaconda\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\saiba\.anaconda\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saiba\.anaconda\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saiba\.anaconda\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [ ]:
import sqlalchemy as  sal
engine = sal.create_engine('mssql://LAPTOP-6U3BK8SL/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [ ]:
import sqlalchemy as sal

engine = sal.create_engine(
    "mssql+pyodbc://@LAPTOP-6U3BK8SL/master"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

conn = engine.connect()
print("Connected successfully")

In [ ]:
print(conn)

In [18]:
import pandas as pd

pd.read_sql("SELECT @@SERVERNAME AS server_name, DB_NAME() AS database_name", conn)

                  server_name database_name
0  LAPTOP-6U3BK8SL\SQLEXPRESS        master

In [17]:
engine.connect()

In [16]:
df.to_sql('customers_behaviours',con = conn,index=False,if_exists = 'replace')

50